body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0; }

header {
  background-color: #222;
  padding: 20px;
  color: #fff; }

header h1 {
  margin: 0;
  font-size: 24px; }

main {
  padding: 40px; }

.add-post {
  text-align: center; }

.add-post h2 {
  font-size: 24px;
  margin-bottom: 20px; }

.add-post input[type="text"],
.add-post textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease; }

.add-post input[type="text"]:focus,
.add-post textarea:focus {
  outline: none;
  border-color: #007bff; }

.add-post .whatsapp-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease; }

.add-post .whatsapp-button:hover {
  background-color: #0056b3; }

footer {
  background-color: #222;
  padding: 20px;
  color: #fff;
  text-align: center; }

@media screen and (max-width: 768px) {
  main {
    padding: 20px; }
  .job-offers {
    grid-template-columns: 1fr; }
  .job-post {
    margin-bottom: 20px; } }

.job-post {
  border: 1px solid #eaeaea;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease; }

.job-post:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); }

.job-post h3 {
  margin: 0;
  font-size: 24px;
  margin-bottom: 10px;
  color: #007bff; }

.job-post p {
  margin: 10px 0;
  line-height: 1.6; }

.job-post ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.job-post ul li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 8px; }

.job-post ul li:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: #007bff;
  border-radius: 50%; }

.job-post a {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease; }

.job-post a:hover {
  background-color: #0056b3; }

@media screen and (max-width: 768px) {
  .job-post {
    margin-bottom: 20px; } }
